<header class="header" id="header">
  <img class="header__bg" src="../assets/images/header/main.png" alt="" />
  <img class="header__bg" src="../assets/images/header/mask.png" alt="" />

  <!-- Navigation -->
  <div class="nav-container">
    <nav class="container nav navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">
        <div class="nav-logo">
          <img src="../assets/images/header/logo.png" alt="" />
          <h2>UPQODE</h2>
        </div>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="nav__navigation">
          <div class="nav__navigation-container">
            <ul id="nav" class="navbar-nav nav-scroll">
              <li
                class="nav-item active"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <a class="nav-link" href="#header">Home</a>
              </li>
              <li
                class="nav-item"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <a class="nav-link" href="#services">Services</a>
              </li>
              <li
                class="nav-item"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <a class="nav-link" href="#team">Team</a>
              </li>
              <li
                class="nav-item"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <a class="nav-link" href="#location">Contasct Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Header content -->
  <section class="content">
    <div class="container--med">
      <div class="swiper-container header-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <article>
              <span>Mileage Made Simple</span>
              <h3>Motivation And Your Personal Vision An Unbeatable Force</h3>
              <button class="a-btn">Start Free Trial</button>
            </article>
          </div>
          <div class="swiper-slide">
            <article>
              <span>Mileage Made Simple</span>
              <h3>Motivation And Your Personal Vision An Unbeatable Force</h3>
              <button class="a-btn">Start Free Trial</button>
            </article>
          </div>
          <div class="swiper-slide">
            <article>
              <span>Mileage Made Simple</span>
              <h3>Motivation And Your Personal Vision An Unbeatable Force</h3>
              <button class="a-btn">Start Free Trial</button>
            </article>
          </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button"></div>
        <div class="swiper-button-prev swiper-button"></div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
</header>
